@page "/"
@using DynamicFormBlazor.Models
@using DynamicFormBlazor.Services
@using System.Text.Json
@inject NavigationManager Navigation
@inject DataTransferService DataTransferService
@inject FormConfigurationValidator Validator

<h3>Enter your JSON</h3>

<EditForm Model="@formData" OnValidSubmit="@ProcessJsonInput">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <textarea id="jsonInput" class="form-control" @bind="formData.JsonInput"></textarea>
        <ValidationMessage For="@(() => formData.JsonInput)" />
    </div>

    <button type="submit" class="btn btn-primary">Generate Form</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert @AlertClass" role="alert">
        @errorMessage
    </div>
}

@code {
    private string errorMessage = string.Empty;
    private const string AlertClass = "alert-danger";
    private FormModel formData = new();

    private void ProcessJsonInput()
    {
        try
        {
            errorMessage = string.Empty;

            var deserializedJson = JsonSerializer.Deserialize<FormConfiguration>(
                formData.JsonInput,
                new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            Validator.Validate(deserializedJson);

            DataTransferService.SetData(deserializedJson);
            Navigation.NavigateTo("/result");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
