<div class="form-check">
    <input type="checkbox" class="form-check-input" @onchange="OnCheckboxChanged"/>
    <label class="form-check-label">@Label</label>
</div>

@code {
    [Parameter] public bool Value { get; set; } = false;
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public string Label { get; set; } = string.Empty;

    private async Task OnCheckboxChanged(ChangeEventArgs e)
    {
        Value = (bool)e.Value;
        await ValueChanged.InvokeAsync(Value);
    }
}